{% extends "navbar.html" %}

{% block title %}User Control Panel{% endblock %}

{% block body %}
{{ super() }}
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
         <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">E-Commerce</a>
                                            <div id="submenu-1-2" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="index.html">E Commerce Dashboard</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product.html">Product List</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product-single.html">Product Single</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product-checkout.html">Product Checkout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='dashboard-finance.html') }}">Finance</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='dashboard-sales.html') }}">Sales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1" aria-controls="submenu-1-1">Infulencer</a>
                                            <div id="submenu-1-1" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="{{ url_for('static', filename='dashboard-influencer.html') }}">Influencer</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="influencer-finder.html">Influencer Finder</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="influencer-profile.html">Influencer Profile</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>UI Elements</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/cards.html') }}">Cards <span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/general.html') }}">General</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/carousel.html') }}">Carousel</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/listgroup.html') }}">List Group</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/typography.html') }}">Typography</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/accordions.html') }}">Accordions</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/tabs.html') }}">Tabs</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Chart</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/chart-c3.html') }}">C3 Charts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/chart-chartist.html') }}">Chartist Charts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/chart-charts.html') }}">Chart</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/chart-morris.html') }}">Morris</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/chart-sparkline.html') }}">Sparkline</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/chart-gauge.html') }}">Guage</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Forms</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/form-elements.html') }}">Form Elements</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/form-validation.html') }}">Parsely Validations</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/multiselect.html') }}">Multiselect</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/datepicker.html') }}">Date Picker</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/bootstrap-select.html') }}">Bootstrap Select</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Tables</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/general-table.html') }}">General Tables</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/data-tables.html') }}">Data Tables</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">
                                Features
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i> Pages </a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/blank-page.html') }}">Blank Page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/blank-page-header.html') }}">Blank Page Header</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/login.html') }}">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/404-page.html') }}">404 page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/sign-up.html') }}">Sign up Page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/forgot-password.html') }}">Forgot Password</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/pricing.html') }}">Pricing Tables</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/timeline.html') }}">Timeline</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/calendar.html') }}">Calendar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/sortable-nestable-lists.html') }}">Sortable/Nestable List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/widgets.html') }}">Widgets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/media-object.html') }}">Media Objects</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/cropper-image.html') }}">Cropper</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/color-picker.html') }}">Color Picker</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Apps <span class="badge badge-secondary">New</span></a>
                                <div id="submenu-7" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/inbox.html') }}">Inbox</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/email-details.html') }}">Email Detail</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/email-compose.html') }}">Email Compose</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/message-chat.html') }}">Message Chat</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-columns"></i>Icons</a>
                                <div id="submenu-8" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/icon-fontawesome.html') }}">FontAwesome Icons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/icon-material.html') }}">Material Icons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/icon-simple-lineicon.html') }}">Simpleline Icon</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/icon-themify.html') }}">Themify Icon</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/icon-flag.html') }}">Flag Icons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/icon-weather.html') }}">Weather Icon</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-fw fa-map-marker-alt"></i>Maps</a>
                                <div id="submenu-9" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/map-google.html') }}">Google Maps</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ url_for('static', filename='pages/map-vector.html') }}">Vector Maps</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-f fa-folder"></i>Menu Level</a>
                                <div id="submenu-10" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Level 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-11">Level 2</a>
                                            <div id="submenu-11" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">Level 1</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">Level 2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Level 3</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">User Control Panel </h2>
                                <p class="pageheader-text">For admins to aprove Users.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href=" {{ url_for('index.index')}}" class="breadcrumb-link">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">User Control Panel</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="card">
                        <h5 class="card-header">Unverified Users</h5>
                        <div class="card-body">
                            <form class="splash-container" method = post>
                                {{ form.hidden_tag() }}
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Company</th>                                    
                                        <th scope="col">Verify</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for u in form.allusers %}
                                    <tr>
                                        <td>{{ u.u_id.data }}</td>
                                        <td>{{ u.username.data }}</td>
                                        <td>{{ u.email.data }}</td>
                                        <td>{{ u.company.data }}</td> 
                                        <td> <input type="checkbox" id="{{u.u_id.data}}" name="verifyList" value="{{u.u_id.data}}" > </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                                <div class="form-group pt-2">
                                        {{ form.submit() }}
                                </div>
                            </form>
                        </div>
                    </div>



                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="../static/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="../static/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="../static/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="../static/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="../static/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="../static/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="../static/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="../static/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="../static/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="../static/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="../static/assets/libs/js/dashboard-ecommerce.js"></script>
{% endblock %}